body { 

    background-image: url("http://www.edinphoto.org.uk/0_pcv_a/0_post_card_views_castle_series_-_half_blank_back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;


 }

.title {
  			position: absolute;
  			left: 0;
  			top: 50%;
  			width: 100%;
  			text-align: center;
  			font-size: 18px;


  		}

 